# Supabase Credentials
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Ethereum Credentials
ETH_PRIVATE_KEY=
ALCHEMY_API_KEY=

# Solana Credentials
SOLANA_PRIVATE_KEY=
HELIUS_RPC_URL=

# Biconomy Credentials
BICONOMY_API_KEY=
BICONOMY_PROJECT_ID=

# Gemini API Key
GEMINI_API_KEY=
